@model IEnumerable<Assigment.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CateName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CateName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CateId })
        </td>
    </tr>
}

</table>
